.container{
    background: rgb(31,14,60);
    background: linear-gradient(24deg, rgba(31,14,60,0.9738489145658263) 8%, rgba(38,26,47,0.8758096988795518) 95%);
    width: 100%;
    padding: 22px;
    border-radius: 14px;
    transition: 0.4s;
}

.container:hover{
    background-color: #8d25fb;
    background: var(--prime_color);
    /* background-color: var(--prime_gradient_background); */
}

.container:hover .date{
    color: var(--prime_text);
}

.date{
    font-size: 18px;
    color: var(--prime_color);
    margin-bottom: 8px;
}

.title{
    font-size: 24px;
    color: var(--prime_text);
    margin-bottom: 8px;
}

.text{
    color: var(--prime_text);
    font-size: 16px;
}