.container{
    padding: 22px 14px;
    display: flex;
    transition: 0.4s;
    border-bottom: 1px solid #2a1454;
}

/* .container:first-child{
    background:  linear-gradient(24deg, rgba(163, 101, 255, 0.974) 12%, rgb(89, 0, 166) 70%); 
    
} */

/* .container:first-child .number{
    color: var(--prime_text);
} */

.container:hover:not(:first-child) .container:first-child{
    background: transparent;
}

.container:not(:hover):not(:first-child){
    background: transparent;
}

.container:hover{
    background:  linear-gradient(24deg, rgba(163, 101, 255, 0.974) 12%, rgb(89, 0, 166) 70%);   
    /* background-color: var(--prime_gradient_background); */
}

.container:hover .number{
    color: var(--prime_text);
}

.title_service{
    color: var(--prime_text);
    padding: 12px;
    flex: 4;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.number{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--prime_color);
}


.service_name{
    padding: 0 12px;
}

.description{
    padding-left: 16px;
    padding-right: 20%;
    display: flex;
    align-items: center;
    flex: 6;
    font-size: 16px;
    color: var(--prime_text);
}

@media(max-width: 768px){
    .container{
        display: block;
    }

    .description{
        padding-right: 0;
        padding-left: 0;
        padding-top: 16px;
        font-size: 15px;
        
    }

    .title_service{
        padding: 0;
    }
}