.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  /* position: sticky; */
  top: 0;
  z-index: 999;
  transition: 0.4s;
}

.sticky{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 32px 0;
    z-index: 999;
    background-color: #080019;
    background-image: linear-gradient(62deg, #060014 0%, #17002c 100%);
    transition: 0.4s;
}

.badge{
    display: flex;
    gap: 62px;
}

.logo{
    text-decoration: none;
    color: #fff;
}

.email_badge{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.navlinks{
    display: flex;
}

.navlinks a{
    text-decoration: none;
}

@media (max-width: 1024px){
    .badge{
        gap: 20px;
    }
}

@media (max-width: 475px){
    .email_badge{
        display: none;
    }
}