.container{
    padding-bottom: 98px;
    padding-top: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper{
    width: 50%;
    /* padding: 0 20px 0; */
}

.cards_group{
    padding-right: 22px;
    margin-top: 30px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 28px;
}


@media (max-width: 768px){
    .wrapper{
        width: 100%;
    }
}