.text{
    position: absolute;
    font-size: 112px;
    font-weight: 900;
    color: rgb(40, 119, 188);
    /* border: 1px solid red; */
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-shadow: 0 0 3px #ff000000, 0 0 5px #056d34fb; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: red;
    z-index: -1;
}