.text{
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    font-size: 122px;
    font-weight: 900;
    color: transparent;
    top: 50%;
    left: 25%;
    transform: translate(75%, -50%);
    /* text-shadow: 0 0 3px #ff000000, 0 0 5px #056d34fb; */
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: var(--prime_color);
    filter: blur(1px);
    z-index: -9;
    animation: scale-up 3s infinite ease-in-out alternate;
    
}

@media (max-width: 992px) {
    .text{
        display: none;
    }
}

@keyframes scale-up{
    0%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }
}
