.cards_group{
    margin-top: 30px;
    margin-bottom: 48px;
    width: 45%;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 22px;
}

@media (max-width: 768px){
    .cards_group{
        width: 100%;
    }
}