
:root{
  --prime_color: #8d25fb;
  --prime_text: #FBFAFB;
  --prime_gradient_text: -webkit-linear-gradient(62deg, #9334f8 0%, #d3adfd 100%);
  --secondary_gradient_text: -webkit-linear-gradient(62deg, #8e8e8e 0%, #ece7f0 100%);
  --prime_gradient_background: linear-gradient(24deg, rgba(83, 28, 165, 0.974) 12%, rgba(72,25,113,0.6601234243697479) 70%);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: #080019;
  background-image: linear-gradient(62deg, #060014 0%, #17002c 100%);


}

.container{
  width: 1536px;
  margin: auto;
}


@media(max-width: 1536px){
  .container{
    width: 1336px;
  }
}

@media(max-width: 1336px){
  .container{
    width: 1280px;
  }
}

@media(max-width: 1280px){
  .container{
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 1024px){
  .container{
    width: 992px;
  }
}

@media(max-width: 992px){
  .container{
    width: 768px;
  }
}

@media(max-width: 768px){
  .container{
    width: 640px;
  }
}

@media(max-width: 640px){
  .container{
    width: 475px;
  }
}

@media(max-width: 475px){
  .container{
    width: 380px;
  }
}