.section{
    padding: 0 0 98px;
}

.container{
    min-height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    color: aliceblue;
}

.content{
    padding: 18px 0px 18px;
    position: relative;
    top: -52px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

.title_name{
    font-size: 32px;
    background-color: #5d5d5d;
    background: var(--secondary_gradient_text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title{
    font-size: 48px;
    background-color: #8d25fb;
    background: var(--prime_gradient_text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description{
    width: 80%;
    font-size: 18px;
    word-spacing: 3px;
    text-align: left;
}

.hero_image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo{
    position: relative;
    width: 420px;
    height: 460px;
    top: -68px;
    border-radius: 36px;
    border: 2px solid rgb(79, 1, 131);
    transform: rotate(4deg);
    transition: 0.4s;
}

.photo_mobile{
    margin-inline: auto;
    margin-block: 12px;
    width: 320px;
    height: 360px;
    top: 18px;
    border-radius: 36px;
    border: 2px solid rgb(79, 1, 131);
    transform: rotate(4deg);
}


.photo:hover{
    transform: rotate(0deg);
    border: 3px solid rgb(147, 45, 250);
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0 10px;
    display: flex;
    gap: 28px;
}

.button_cv{
    width: 200px;
    padding: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--prime_color);
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid var(--prime_color);
    transition: 0.4s;
}

.social_box{
    display: flex;
    align-items: center;
    gap: 14px;
}

.button_media{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--prime_color);
    color: var(--prime_color);
    font-weight: 600;
    font-weight: 800;
    transition: 0.4s;
}

.svg_icon{
    color: #fff;
}

.button_effect:hover{
    cursor: pointer;
    background-color: var(--prime_color);
    color: #fff;
}


@media (max-width: 1024px){
    .content{
        top: 0;
    }
    .social_box{
        margin-top: 24px;
        gap: 20px;
    }

    .button_cv{
        width: 220px;
        padding: 12px;
    }

    .button_media{
        width: 36px;
        height: 36px;
    }

    .buttons{
        display: block;
    }
    .photo{
        height: 320px;
        width: 300px;
        top: unset;
    }

    .title{
        font-size: 42px;
    }

}

@media (max-width: 768px){
    .hero_image{
        display: none;
    }

    .content{
        gap: 12px;
    }

    .container,
    .content{
        padding: 0;
    }

    /* .content{
        top: 8px;
    } */

    .title{
        font-size: 36px;
    }

    .description{
        font-size: 16px;
        width: 100%;
    }

    .title_name{
        font-size: 24px;
    }

    .buttons{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social_box{
        margin-top: 0;
    }

    .photo_mobile{
        height: 400px;
        width: 380px;
    }
}

@media(max-width: 640px){
    .photo_mobile{
        height: 320px;
        width: 300px;
    }
  }

@media (min-width: 768px){
    .photo_mobile{
        display: none;
    }
}